[submodule "p1_navigation"]
	path = p1_navigation
	url = git@github.com:drmateo/p1-navigation.git
[submodule "p2_continuous-control"]
	path = p2_continuous-control
	url = git@github.com:drmateo/p2-continous-control.git
[submodule "p3_collab-compet"]
	path = p3_collab-compet
	url = git@github.com:drmateo/p3_collab-compet.git
